table {
 width: 400px;
 text-align: right;
}
.pagination {
 padding-top: 10px;
 text-align: center;
}
.pagination a {
  margin : 2px 5px;
}
.pagination .pages {
  padding : 5px;
}
a.disabled {
  color : #DDD;
  pointer-events: none;
}